body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    overflow-y: hidden;
  
}



.night{
    width: 70vw;
    height: 80vh;
    margin:5rem auto;
    background-image: url("./assets/Img_1.png");
    background-size: cover;
    position: relative;
    box-shadow: 1px2px 60px rgba(0, 0, 0,0.4);
    overflow-x: hidden;
}


.surface{
    height: 140px;
    width: 500%;
    background-image: url("./assets/Img_02.png");
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0;
    animation: surfaceMove 6s linear infinite;
}

.car{
    position: absolute;
    bottom: 8%;
    left: 24%;
    animation: carMove 1s linear infinite ;
}


/* car animation  */

@keyframes surfaceMove {
    100%{
        transform: translateX(-2950px);
    }
}

@keyframes carMove {
    0%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(-1px);
    }
}